<!DOCTYPE html>
<html lang="en">
<head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W3PRJ0GKTP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-W3PRJ0GKTP');
</script>


  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <title>VRS-Factory - Node.js & AWS Developer</title>
</head>
<body>
<header>
    <div class="container">
      <h1>
        <a href="#">Paweł Farys</a>
      </h1>
      <h2>I'm a passionate <span>Node.js & AWS</span> Developer</h2>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/pawel-farys"><i class="cib-linkedin"></i></a>
        <a href="https://github.com/vertisan"><i class="cib-github"></i></a>
        <a href="https://twitter.com/PawelFarys"><i class="cib-twitter"></i></a>
        <a href="mailto:pmg.farys@gmail.com"><i class="cib-gmail"></i></a>
      </div>
    </div>
  </header>

</body>
</html>
